= turbo_stream.prepend "patient_body" do
  = render "patient", patient: @patient

= turbo_stream.update "modal", ""

= turbo_stream.update "notification" do
  %p{style: "color: red;"}
    #{@patient.name} created successfully
