%p Hello,

%p 
  The following details of 
  %strong= @hospital.name 
  have been successfully updated.

%ul 
  - @changes.each do |attribute, values|
    %li= "#{attribute}-> From: #{values[0]} To: #{values[1]}"
  
