%nav{style: "display: flex; justify-content: space-between; background-color: lightblue;"}
  %div 
    %h1 Hospital Management
  %ul{style: "display: flex; list-style: none; gap:20px; margin: 0; padding: 0; align-items: center"}
    %li= link_to "Hospitals", hospitals_path, data: { turbo_frame: "main_content" }
    %li= link_to "Doctors", doctors_path, data: { turbo_frame: "main_content" }
    %li= link_to "Patients", patients_path, data: { turbo_frame: "main_content" }
    %li= link_to "Appointments", appointments_path, data: { turbo_frame: "main_content" }
    %li= link_to "Doctor Profiles", profiles_path, data: { turbo_frame: "main_content" }
      